body {
    font-size: 16px;
    color: #fff;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
}

/* Header */

#header-nav {
    background-color: #EEE3CB;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/osm.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /* Brand name */
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #967E76;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    text-align: left;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.resources {
    padding-top: 25px;
}

#playlist,
#syllabus {
    text-align: center;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    font-family: 'Lora', serif;
    color: #321E1E;
    text-shadow: 0.8px 0.8px 0.8px #D7C0AE;
    font-size: 1.5em;
}

#playlist span,
#syllabus span {
    text-decoration: none;
    margin-right: 10px;
}

#playlist:hover,
#syllabus:hover {
    box-shadow: 0 1px 5px 1px #EEE2CA;
}

.resources h2 {
    font-family: 'Lora', serif;
    color: #321E1E;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 0.8px 0.8px 0.8px #D7C0AE;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: .7;
}

#dollar-lunch,
#groundwork,
#free-people,
#food-coop,
#che-cafe,
#ksdt {
    margin-top: 20px;
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}

#dollar-lunch:hover,
#groundwork:hover,
#free-people:hover,
#food-coop:hover,
#che-cafe:hover,
#ksdt:hover {
    box-shadow: 0 1px 5px 1px #675D50;
}

#dollar-lunch {
    background: url('../images/dollarlunchclub.png') no-repeat;
    background-position: center;
}

#groundwork {
    background: url('../images/groundwork.png') no-repeat;
    background-position: center;
}

#free-people {
    background: url('../images/') no-repeat;
    background-position: center;
}

#food-coop {
    background: url('../images/foodcoop.png') no-repeat;
    background-position: center;
}

#che-cafe {
    background: url('../images/checafe.png') no-repeat;
    background-position: center;
}

#ksdt {
    background: url('../images/ksdt.png') no-repeat;
    background-position: center;
}

#dollar-lunch span,
#groundwork span,
#free-people span,
#food-coop span,
#che-cafe span,
#ksdt span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #321E1E;
    color: #fff;
    opacity: .8;
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    /* Header */
    #logo-img {
        background: url('../images/osm-small.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }

    /* End Header */


    /* End Home Page */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

    /* Header */

    .navbar-brand {
        padding-top: 10px;
        height: 100px;
    }

    .navbar-brand h1 {
        /* Brand name */
        padding-top: 10px;
        font-size: 6vw;
        margin-top: 25px;
    }

    /* End Header */

    #playlist,
    #syllabus {
        text-align: center;
        font-size: 4vw;
    }

    #playlist span,
    #syllabus span {
        text-decoration: none;
        margin-right: 10px;
    }

    .resources {
        padding-top: 10px;
        height: 80px;
    }

    .resources h2 {
        padding-top: 10px;
        font-size: 3.5vw;
    }


    #dollar-lunch,
    #groundwork,
    #free-people,
    #food-coop,
    #ksdt,
    #che-cafe {
        width: 360px;
        margin: 0 auto 15px;
    }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

    /* Header */

    .navbar-brand {
        padding-top: 10px;
        height: 100px;
    }

    .navbar-brand h1 {
        /* Brand name */
        padding-top: 10px;
        font-size: 4.5vw;
    }

    /* End Header */

    /* Home page */
    #playlist,
    #syllabus {
        text-align: center;
        font-size: 4vw;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #playlist span,
    #syllabus span {
        text-decoration: none;
        margin-right: 10px;
    }

    #dollar-lunch,
    #groundwork,
    #free-people,
    #food-coop,
    #che-cafe,
    #ksdt {
        width: 280px;
        margin: 0 auto 15px;
    }

    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}