body {
    font-size: 16px;
    color: #fff;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
}

/* Header */

#header-nav {
    background-color: #EEE3CB;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/osm.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /* Brand name */
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0.5px 1px 0.5px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    text-align: left;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#dollar-lunch,
#groundwork,
#free-people,
#food-coop,
#che-cafe,
#ksdt {
    margin-top: 20px;
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}

#dollar-lunch:hover,
#groundwork:hover,
#free-people:hover,
#food-coop:hover,
#che-cafe:hover,
#ksdt:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#dollar-lunch {
    background: url('../images/dollarlunchclub.png') no-repeat;
    background-position: center;
}

#groundwork {
    background: url('../images/groundwork.png') no-repeat;
    background-position: center;
}

#free-people {
    background: url('../images/') no-repeat;
    background-position: center;
}

#food-coop {
    background: url('../images/foodcoop.png') no-repeat;
    background-position: center;
}

#che-cafe {
    background: url('../images/') no-repeat;
    background-position: center;
}

#ksdt {
    background: url('../images/ksdt.png') no-repeat;
    background-position: center;
}

#dollar-lunch span,
#groundwork span,
#free-people span,
#food-coop span,
#che-cafe span,
#ksdt span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #321E1E;
    color: #fff;
    opacity: .8;
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    /* Header */
    #logo-img {
        background: url('../images/osm-small.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }

    /* End Header */


    /* End Home Page */
}

/******* Iphone devices *******/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

    /* Header */
    #logo-img {
        background: url('../images/osm-small.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }

    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 10px;
        font-size: 3.5vw;
        /* 1vw = 1% of viewport width */
    }

    /* End Header */


    /* End Home Page */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

    /* Header */

    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 10px;
        font-size: 3.5vw;
        /* 1vw = 1% of viewport width */
    }

    #logo-img {
        background: url('../images/osm-small.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }

    /* End Header */


    #dollar-lunch,
    #groundwork,
    #free-people,
    #food-coop,
    #ksdt,
    #che-cafe {
        width: 360px;
        margin: 0 auto 15px;
    }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    #logo-img {
        background: url('../images/osm-small.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }

    /* Header */
    .navbar-brand h1 {
        /* Brand name */
        padding-top: 5px;
        font-size: 3.5vw;
    }

    /* End Header */

    /* Home page */
    #dollar-lunch,
    #groundwork,
    #free-people,
    #food-coop,
    #che-cafe,
    #ksdt {
        width: 280px;
        margin: 0 auto 15px;
    }

    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}